aiohttp>=3
aiosignal>=1
async-timeout>=4
attrs
discord>=2
discord-py-slash-command
discord.py>=2
frozenlist>=1
idna>=3
multidict
pyasn1>=0
python-dotenv
pytz>=2024
PyYAML>=6
rsa>=4
schedule>=1
yarl>=1
